.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgb(240, 239, 238);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.mainTitle {
  margin-bottom: 20px;
}
.question {
  text-align: start;
}
.answersWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.notice {
  margin-bottom: 20px;
  text-align: start;
}
.tryAgainWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  max-width: 600px;
  margin: 50px auto;
  background-color: rgb(240, 239, 238);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
